<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:node="merge"
    package="com.example.ash.sopt19th_mate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".application.ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2f160620708ff1ba8a44940d7808bec5d334c9b6" />

        <activity android:name=".login.AndroidTwitterExampleInit"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".login.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".login.SplashActivity"
            android:label="DuckMate"
            android:theme="@style/AppTheme.NoActionBar"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".mypageinit.MyPageMainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".setsinger.SetSingerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".setsinger.ViewHolderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".dialog.CustomDialogActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".mypage.MyMainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".mypage.MypageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mypage.MyPageViewHolderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".allsingerinfo.AllSingerInfoActivity" />
        <activity
            android:name=".home.HomeDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".newsstand.voteTab.DialogActivity"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".setting.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".notice.NoticeActivity" />
        <activity android:name=".board.BoardActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".board.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".home.ListViewHolderActivity" />
        <activity android:name=".board.detail.DetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Rotate"></activity>
    </application>

</manifest>